<div class="row">
        <div class="col-md-12">
            <h2>Form Demo with controls Access Simplified</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]='regForm' (submit)="onSubmit()">
                <table class="table table-borderless table-sm">
                    <tr>
                        <td>Gender</td>
                        <td>
                            <input type="radio" formControlName="gender" value="male"> Male
    
                            <input type="radio" formControlName="gender" value="female"> Female </td>
                    </tr>
                    <tr>
                        <td>Name <span class="text-danger">*</span></td>
                        <td>
                            <input type="text" formControlName="name" placeholder="Your Name">
                            <div *ngIf="rfc.name.touched && rfc.name.errors" class="text-danger">Name Required</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Email <span class="text-danger">*</span> </td>
                        <td>   <input type="text" formControlName="email">
                            <div *ngIf="rfc.email.errors && rfc.email.touched">
                            <div *ngIf="rfc.email.errors.required" class="text-danger">Email Required</div>
                            <div *ngIf="rfc.email.errors.email" class="text-danger">Invalid Email</div>
                        </div  >
                        </td>
                    </tr>
    
                    <tr>
                        <td>Salary</td>
                        <td>
                            <input type="text" formControlName="salary">                  
                     
                        </td>
                    </tr>
                    <tr>
                            <td>IS NRI</td>
                            <td>
                                <input type="checkbox" formControlName="nri">
                            </td>
                        </tr>
                </table>
                <h4>Address</h4>
                <div formGroupName="address">
                        <table class="table table-borderless">
                        <tr>
                            <td>Street</td>
                            <td>
                                <input type="text" formControlName="street">
                            </td>
                        </tr>
                        <tr>
                            <td>City <span class="text-danger">*</span></td>
                            <td>
                                <input type="text" formControlName="city">
                                <div *ngIf="rfac.city.touched && rfac.city.errors" class="text-danger">City Required</div>
    
                            </td>
                        </tr>
    
                        <tr>
                            <td>Pin</td>
                            <td>
                                <input type="text" formControlName="pincode">
                            </td>
                        </tr>
    
                       
                    </table>
                </div>
    
                <br>
                <button [disabled]="regForm.invalid">Submit</button>
                <button type="button"  (click)="clear()">Clear</button>
            </form>
    
        </div>
        <div class="col-md-6 offset-2">
            <table class="table table-bordered">
                <tr>
                    <td>regForm.value</td>
                    <td>{{regForm.value | json}}</td>
                </tr>
                <tr>
                    <td>regForm.touched</td>
                    <td>{{regForm.touched}}</td>
                </tr>
                <tr>
                    <td>regForm.pristine</td>
                    <td>{{regForm.pristine}}</td>
                </tr>
                <tr>
                    <td>regForm.dirty</td>
                    <td>{{regForm.dirty}}</td>
                </tr>
                <tr>
                    <td>regForm.valid</td>
                    <td>{{regForm.valid}}</td>
                </tr>
                <tr>
                    <td>regForm.invalid</td>
                    <td>{{regForm.invalid}}</td>
                </tr>
            </table>
        </div>
    </div>