<!-- <h1>Welcome {{title}}</h1>
<h3>{{10+20}}</h3>
<h3>{{100/20}}</h3>
<h3>{{10<20}}</h3>
<h3>{{'Hello'+' '+'Ram'}}</h3>
<input type="text" value="{{'Rama'+34}}">
<br>
<br>
<br>
<input type="text" (keyup)="txtChange($event)">

<br>

<p>{{txt1}}</p>
<hr>
<app-emp></app-emp>
<hr>
<div class="app-stu"></div> -->

<!-- <app-practice2></app-practice2> -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-str-dirs></app-str-dirs> -->

<!-- <app-practice3></app-practice3> -->

<!-- <app-practice4></app-practice4> -->

<!-- <app-pipe-demos></app-pipe-demos> -->


<!-- <app-pipe-demos1></app-pipe-demos1> -->

<!-- <app-practice5></app-practice5> -->

<app-custom-dir1></app-custom-dir1>

<!-- <app-style-demo></app-style-demo> -->

<!-- <app-class-demo></app-class-demo> -->



<!-- <app-view-child-demo></app-view-child-demo> -->


<!-- <app-view-child-demo1></app-view-child-demo1> -->


<!-- <app-child-component-demo1></app-child-component-demo1> -->


<!-- <app-child-component-practice1></app-child-component-practice1> -->

<!-- <app-child-component-demo2></app-child-component-demo2> -->

<!-- <app-child-component-practice2></app-child-component-practice2> -->