input.ng-invalid.ng-touched{
    border:2px solid #F00;
    }
    
    
.wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.section{
float: left;
width: 49%;
height: auto;
overflow: hidden;
}    
.error-block{
    width: 90%;
    border:2px solid #F00;
    background: rgb(240, 142, 142);
    padding:10px 30px;
    margin:5px auto;
}