<h2>Employee Info</h2>

<div class="wrapper">
    <div class="section">
        <form action="" #empForm="ngForm" (submit)="onSubmit()">
                <div class="error-block" *ngIf="empForm.touched && empForm.invalid">
                        <li *ngIf="fname.errors && fname.errors.required">Name is Required</li>
                        <li *ngIf="fname.errors && fname.errors.minlength">Name must have minimum {{fname.errors.minlength.requiredLength}} characters</li>
                        <li *ngIf="email.errors">Invalid Email</li>
                    
                </div>
            <table>
              <tr>
                  <td valign="top">Name:</td>
                  <td>  
                      <input type="text" name="fname" #fname="ngModel" placeholder="First Name" minlength="4" required ngModel>
                      &nbsp;
                      <input type="text" name="lname"  placeholder="Last Name"   ngModel>
                       <span class="error-message" *ngIf="fname.errors && fname.errors.minlength">Name must have minimum {{fname.errors.minlength.requiredLength}} characters</span>
                       <span class="error-message" *ngIf="fname.touched && fname.errors && fname.errors.required">Name is Required</span>                      
                  </td>
              </tr>
              <tr>
                  <td valign="top">Email:                 </td>
                  <td>  <input type="text" name="email" #email="ngModel"  email ngModel>
                    <span class="error-message"  *ngIf="email.errors">Invalid Email</span>
              
                  </td>
              </tr>
              <tr>
                  <td valign="top">Gender :</td>
                  <td>         <input type="radio" name="gender" value="MALE" ngModel> Male
                    <input type="radio" name="gender" value="FEMALE" ngModel> Female
       </td>
              </tr>
              <tr>
                  <td>IS NRI : </td>
                  <td>
                        <input type="checkbox" name="nri" ngModel>
                  </td>
              </tr>
          </table>

  

              <br>
            <br>

            <button [disabled]="empForm.invalid">Submit</button>
            <button type="button" (click)="clear()">Clear</button>
        </form>
    </div>

    <div class="section">
        <table width="400" border="1">
            <tr>
                <td>empForm.value</td>
                <td>{{empForm.value | json}}</td>
            </tr>
            <tr>
                <td>empForm.touched</td>
                <td>{{empForm.touched}}</td>
            </tr>
            <tr>
                <td>empForm.submitted</td>
                <td>{{empForm.submitted}}</td>
            </tr>

            <tr>
                <td>empForm.pristine</td>
                <td>{{empForm.pristine}}</td>
            </tr>
            <tr>
                <td>empForm.dirty</td>
                <td>{{empForm.dirty}}</td>
            </tr>
            <tr>
                <td>empForm.valid</td>
                <td>{{empForm.valid}}</td>
            </tr>
            <tr>
                <td>empForm.invalid</td>
                <td>{{empForm.invalid}}</td>
            </tr>
        </table>
        <br>
        <br>
        <h3>Form Filed "fname" Status</h3>
        <table width="400" border="1">
            <tr>
                <td>fname.value</td>
                <td>{{fname.value }}</td>
            </tr>
            <tr>
                <td>fname.touched</td>
                <td>{{fname.touched}}</td>
            </tr>          

            <tr>
                <td>fname.pristine</td>
                <td>{{fname.pristine}}</td>
            </tr>
            <tr>
                <td>fname.dirty</td>
                <td>{{fname.dirty}}</td>
            </tr>
            <tr>
                <td>fname.valid</td>
                <td>{{fname.valid}}</td>
            </tr>
            <tr>
                <td>fname.invalid</td>
                <td>{{fname.invalid}}</td>
            </tr>           
            <tr>
                    <td>fname.errors</td>
                    <td>{{fname.errors |json}}</td>
                </tr>
                
        </table>
    </div>
</div>