<div class="row" *ngIf="user">
    <div class="col-md-12 mt-2 mb-5 bg-warning">
        <h2>Profile Section</h2>
    </div>    
    <div class="col-md-6">     
        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>

        <div *ngIf="message" class="alert alert-success">
                {{message}}
            </div>
        
        <div *ngIf="!editMode">      
                    <table class="table" >
                        <tr>
                            <td>Userid</td>
                            <td>{{user.userid}}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td >{{user.name}}</td>
                            
                        </tr>
                        <tr>
                            <td>City</td>
                            <td >{{user.city}}</td>
                            
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td >{{user.mobile_no}}</td>
                           
                        </tr>
                    </table>
                    <button type="button" (click)="edit()" class="btn btn-primary">Edit Profile</button>         
                </div>
<div *ngIf="editMode">

                <form [formGroup]='userform'>
                        <table class="table" >
                            <tr>
                                <td>Userid</td>
                                <td>{{user.userid}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>                             
                                <td >
                                    <input type="text" formControlName="name" class="form-control" >
                                </td>
                            </tr>
                            <tr>
                                <td>City</td>                             
                                <td >
                                    <input type="text" formControlName="city" class="form-control" >
                                </td>
                            </tr>
                            <tr>
                                <td>Mobile</td>                               
                                <td > 
                                    <input type="text" formControlName="mobile_no" class="form-control" >
                                </td>
                            </tr>
                        </table>
                        <button type="button" (click)="update()" class="btn btn-primary">Save Profile</button>
                    </form>
    
</div>
        
    </div>
    <div class="col-md-4 offset-1" *ngIf="user.profile_pic">
        <img src="{{user.profile_pic}}" class="img-thumbnail rounded" alt="">
        <a routerLink='/update-photo' class="btn btn-primary">Edit/Change Photo</a>
    </div>
</div>

