<table>
    <tr>
        <td> Enter Id:</td>
        <td><input type="text" [(ngModel)]='id'></td>
    </tr>
    <tr>
        <td> Enter Name
        </td>
        <td><input type="text" [(ngModel)]='name'></td>
    </tr>
    <tr>
        <td>Enter Age</td>
        <td><input type="text" [(ngModel)]='age'></td>
    </tr>
    <tr>
        <td>Enter Salary</td>
        <td><input type="text" [(ngModel)]='salary'></td>
    </tr>
    <tr>
        <td>Enter Dept</td>
        <td><input type="text" [(ngModel)]='dept'></td>
    </tr>

</table>


<p>
    <button (click)='add()' [hidden]='editMode'>Add</button>
    <button (click)='update()' [hidden]='!editMode'>Update</button>
    <button (click)='cancel()' [hidden]='!editMode'>Cancel</button>
   
</p>