<div class="row">
  <div class="col-sm-2">
    <button (click)="redirect('home')">Redirect to Home</button>
  </div>
  <div class="col-sm-2">
    <button (click)="redirect('tdfDemo')">Template Form</button>
  </div>
  <div class="col-sm-2">
    <button (click)="show()">Show 8899</button>
  </div>


  <div class="col-sm-2">
    <ul>
      <li><a [routerLink]="['/routeParam',101]">Show 101</a>
      </li>
      <li *ngFor="let obj of data"><a [routerLink]="['/routeParam',obj.id]">Show {{obj.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-2">
    <ul>
      <li><a [routerLink]="['/routeParam',101,'Rita']">Show 101</a>
      </li>
      <li *ngFor="let obj of data"><a [routerLink]="['/routeParam',obj.id,obj.name]">Show {{obj.name}}</a>
      </li>
    </ul>
  </div>
  
</div>
