<h3 [ngClass]="'text-center box bg-primary'">
    class name as string literal </h3>
<hr>
<h3 [ngClass]="['text-center',' box','bg-info']">
    class name literal-array</h3>

<hr>

<h3 [ngClass]="{'text-center':false,'box':true, 'bg-danger':true}">
    class name in object 'classname':boolean pairs</h3>

<hr>

<h3 [ngClass]="{'text-center':tc,'box':b, 'bg-warning':bgw, 'bg-success':!bgw}">
    class name in object with boolean variable</h3>
Apply Class : Text Center
<input type="checkbox" [(ngModel)]='tc'> <br>
Apply Class : Out Border
<input type="checkbox" [(ngModel)]='b'> <br>
Apply Class : Color
<input type="checkbox" [(ngModel)]='bgw'> <br>


<hr>
<h3 [ngClass]="{'text-center':align=='center','bg-primary':bgc=='blue','bg-danger':bgc=='red'}">class name in object
    with boolean expression</h3>
Select Text Align :
<input type="radio" [(ngModel)]='align' value='center'> Center
<input type="radio" [(ngModel)]='align' value='left'> left
<br>
Select background :
<input type="radio" [(ngModel)]='bgc' value='blue'> Primary
<input type="radio" [(ngModel)]='bgc' value='red'> Danger


<hr>




<h1>class-name as Attribute Directive <span class="label label-info">[class.class-name]='boolean'</span> </h1>
<ol>
    <li>
        <h2 [class.text-center]="true" class="bg-info">Hello [class.text-center]='true'</h2>

    </li>
    <li>
        <h2 [class.text-center]="false">Hello [class.text-center]='false'</h2>

    </li>
    <li>
        <h2 [class.box]="true">Hello [class.box]='true'</h2>

    </li>
</ol>