<div id="nav">
  <a href="#" routerLink="/home" routerLinkActive='active'>Home</a>
  <a href="#" routerLink="/account" routerLinkActive='active'>Account</a>  
  <a href="#" routerLink="/emp" routerLinkActive='active'>Employee</a>
  <a href="#" routerLink="/dept" routerLinkActive='active'>Department</a>
  <a href="#" routerLink="/addState" routerLinkActive='active'>Add Indian States</a>
  <a href="#" routerLink="/states" routerLinkActive='active'>Indian States</a>
</div>

<router-outlet></router-outlet>