#nav{
    width: 100%;
    background: #ccc;
    height: 40px;;
}

a{
    margin:0 10px;
    display: block;
    padding: 10px;
    float: left;
    text-decoration: none;
}
a.active{
    background: #00f;
    color:#fff;
}

