
<h2>Form Array 1</h2>
<form [formGroup]='regForm' (submit)="onSubmit()">
<table>
    <tr>
        <td>Name</td>
        <td>
            <input type="text" formControlName="name">
        </td>
    </tr>    
    <tr>
        <td>Email</td>
        <td>
            <input type="text" formControlName="email">
        </td>
    </tr>    
    <tr>
        <td>City</td>
        <td>
            <input type="text" formControlName="city">
        </td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>
            <input type="text" formControlName="salary">
        </td>
    </tr>
    <tr>
        <td>Skills</td>
        <td>
                   <button type="button" (click)="addSkill()">{{skillsArray.length==0?'Add':'Add More'}}</button>
        </td>        
    </tr>
    <tr *ngFor="let s of skillsArray.controls; let i=index">
           <td>{{i+1}}</td>
           <td> <input type="text" [formControl]="s">
        <button (click)="removeSkill(i)">X</button>
        </td>
    </tr>
</table>
<br>
<button>Submit</button> &nbsp;
<button type="button" (click)="clear()">Clear</button>
</form>