<h3>New Product Entry</h3>

<table>
    <tr>
        <td>Id:</td>
        <td>
            <input type="text" placeholder="Product Id" [(ngModel)]="id" >
        </td>
    </tr>

    <tr>
        <td>Name:</td>
        <td><input type="text" placeholder="Product Name" [(ngModel)]="name"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td><input type="text" placeholder="Price" [(ngModel)]="price"></td>
    </tr>
</table>
<br>
<button (click)="add()" [hidden]="editMode">Add Product</button>
