<div class="row">
    <div class="col-md-12">
        <h2>Form Demo with Validation</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form [formGroup]='regForm' (submit)="onSubmit()">
            <table class="table table-borderless table-sm">
                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="radio" formControlName="gender" value="male"> Male

                        <input type="radio" formControlName="gender" value="female"> Female </td>
                </tr>
                <tr>
                    <td>Name <span class="text-danger">*</span></td>
                    <td>
                        <input type="text" formControlName="name" placeholder="Your Name">
                        <div *ngIf="regForm.controls.name.touched && regForm.controls.name.errors" class="text-danger">Name Required</div>
                    </td>
                </tr>
                <tr>
                    <td>Email <span class="text-danger">*</span> </td>
                    <td>   <input type="text" formControlName="email">
                        <div *ngIf="regForm.controls.email.errors && regForm.controls.email.touched">
                        <div *ngIf="regForm.controls.email.errors.required" class="text-danger">Email Required</div>
                        <div *ngIf="regForm.controls.email.errors.email" class="text-danger">Invalid Email</div>
                    </div  >
                    </td>
                </tr>

                <tr>
                    <td>Salary</td>
                    <td>
                        <input type="text" formControlName="salary">                  
                        <div *ngIf="regForm.controls.salary.errors && regForm.controls.salary.touched">
 
                            <div *ngIf="regForm.controls.salary.errors.min" class="text-danger">Salary can not be less then {{regForm.controls.salary.errors.min.min}}</div>
                            <div *ngIf="regForm.controls.salary.errors.max" class="text-danger">Salary can not be more then {{regForm.controls.salary.errors.max.max}}</div>
                        </div  >
                    </td>
                </tr>
                <tr>
                        <td>IS NRI</td>
                        <td>
                            <input type="checkbox" formControlName="nri">
                        </td>
                    </tr>
            </table>
            <h4>Address</h4>
            <div formGroupName="address">
                    <table class="table table-borderless">
                    <tr>
                        <td>Street</td>
                        <td>
                            <input type="text" formControlName="street">
                            <div *ngIf="regForm.controls.address.controls.street.touched && regForm.controls.address.controls.street.errors" class="text-danger">
                             Minimum {{regForm.controls.address.controls.street.errors.minlength.requiredLength}} characters required

                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>City <span class="text-danger">*</span></td>
                        <td>
                            <input type="text" formControlName="city">
                            <div *ngIf="regForm.controls.address.controls.city.touched && regForm.controls.address.controls.city.errors" class="text-danger">City Required</div>

                        </td>
                    </tr>

                    <tr>
                        <td>Pin</td>
                        <td>
                            <input type="text" formControlName="pincode">
                        </td>
                    </tr>

                   
                </table>
            </div>

            <br>
            <button [disabled]="regForm.invalid">Submit</button>
            <button type="button"  (click)="clear()">Clear</button>
        </form>

    </div>
    <div class="col-md-6 offset-2">
        <table class="table table-bordered">
            <tr>
                <td>regForm.value</td>
                <td>{{regForm.value | json}}</td>
            </tr>
            
            <tr>
                <td>regForm.touched</td>
                <td>{{regForm.touched}}</td>
            </tr>
            <tr>
                <td>regForm.pristine</td>
                <td>{{regForm.pristine}}</td>
            </tr>
            <tr>
                <td>regForm.dirty</td>
                <td>{{regForm.dirty}}</td>
            </tr>
            <tr>
                <td>regForm.valid</td>
                <td>{{regForm.valid}}</td>
            </tr>
            <tr>
                <td>regForm.invalid</td>
                <td>{{regForm.invalid}}</td>
            </tr>
        </table>
    </div>
</div>