<nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Welcome</a>
      </div>
      <ul class="navbar-nav">
           <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink="/rfdemo1">Form1</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink="/rfdemo2">Form2</a>
        </li>
 <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink="/rfval1">Val1</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink="/rfval2">Val2</a>
          </li>
      </ul>
    </div>
  </nav>
  
  <!--The content below is only a placeholder and can be replaced.-->
  <div class="container">
    <router-outlet></router-outlet>
    <div>
  